<h1 align="center">Flat-rent price in Kyiv prediction project</h>

## Parsing prices from Flatfy and other services

![Instructions](instructions.jpg)

In [62]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import re

In [79]:
dd = list()
for i in range(1, 100):
    params = (("page", i),)
    headers = {
            "Cookie": 'PHPSESSID=cbtht0octv816jns849d8h4c7j; _csrf=0eefb4c857ea49f1180ac815109de8dbafbc6e56fc3100c5d887d403b89efc1aa%3A2%3A%7Bi%3A0%3Bs%3A5%3A%22_csrf%22%3Bi%3A1%3Bs%3A32%3A%229gTN3pRcfeOCx1mxpVGBF58uFKgTY4ak%22%3B%7D'
        }    
    response = requests.get("https://flatfy.ua/uk/%D0%BE%D1%80%D0%B5%D0%BD%D0%B4%D0%B0-%D0%BA%D0%B2%D0%B0%D1%80%D1%82%D0%B8%D1%80-%D0%BA%D0%B8%D1%97%D0%B2?", params=params, headers=headers)

    soup = BeautifulSoup(response.content, "html.parser")

    blocks = soup.find_all("div", class_="realty-preview__content-column")
    for block in blocks:
        price = int(float(re.sub(r"\D", "", block.find("div", class_="realty-preview-price realty-preview-price--main").text)))
        rooms = int(float(block.find("div", class_="realty-preview-properties-item").text.split()[0])),
        area = int(float(block.find("div", class_="realty-preview-properties-item").next_sibling.text.split()[0])),
        try:
            region = block.find("div", class_="realty-preview-sub-title-wrapper").find_all("a")[-2].text 
        except: 
            region = None
        dd.append([price, rooms, area, region])

In [80]:
pd.DataFrame(dd, columns=["Ціна, грн","Кімнати","Площа","Район"])

      Ціна, грн Кімнати   Площа          Район
0          6000    (2,)   (46,)    Подільський
1          5700    (1,)   (33,)   Дніпровський
2         13000    (3,)   (67,)   Дніпровський
3         36509    (1,)   (45,)     Печерський
4          7500    (2,)   (60,)    Оболонський
...         ...     ...     ...            ...
2371       7500    (2,)   (56,)    Деснянський
2372       9500    (2,)   (44,)  Солом'янський
2373      16000    (3,)   (67,)    Подільський
2374      12000    (2,)   (45,)   Дніпровський
2375      38000    (2,)  (118,)     Печерський

[2376 rows x 4 columns]